<div class = "main-chat-header">
   <div class = "chat-header-left">
     <div class = "chat-header-name">
     hodefuga
     </div>
     </div>
     <div class = "chat-header-right">
       <div class = "chat-end">
        <a href = "#">チャットを終了する</a>
       </div>
      </div>
  </div>
  <div class = "main-chat-home">
     <div class = "home-texts">
      <div class = "home-name-time">
       <div class = "home-name">
       Tom
       </div>
       <div class = "home-times">
       2020/3/31(wed) 12:43:30
       </div>
       </div>
      <div class = "home-messages">
      <div class = "home-message">
      おはよう
      </div>
      </div>
     </div>

     <div class = "home-texts">
      <div class = "home-name-time">
       <div class = "home-name">
       Tom
       </div>
       <div class = "home-times">
       2020/3/31(wed) 12:45:30
       </div>
       </div>
      <div class = "home-messages">
      <div class = "home-message">
      こんにちは
      </div>
      </div>
     </div>
     </div>
   <div class = "main-chat-form">
    <div class = "form-input">
     <input class = "form-message" placeholder = "type a message">
     <label class = "form-image">
       <span class = "image-file">画像</span>
       <input type = "file" class = "hidden">
       </label>
     </div>
     <input class = "form-submit" type = "submit" value= "送信">
   </div>