<div class = "side-bar-header">
 <div class = "side-bar-name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
     </div>
     <div class = "side-bar-chat">
     <a href="#">チャットを作成する</a>
     </div>
  </div>
  <div class = "side-bar-main">
    <div class = "side-bar-rooms">
     <div class = "side-bar-room">
      <a href = "#">techroom1</a>
      </div>
    </div>
    <div class = "side-bar-rooms">
       <div class = "side-bar-room">
        <a href = "#">techroom2</a>
        </div>
     </div>
  </div>

