<div class="wrapper">
<div class = "side-bar">
 <%= render "side_bar" %>
 </div>
 <div class = "main-chat">
 <%= render "main_chat" %>
  <div class = "main-chat-header">
  </div>
  <div class = "main-chat-home">
  </div>
   <div class = "main-chat-footer">
   </div>
 </div>
 </div>